<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" media="all" href="/static/styles.css"/>
</head>
<body>

<div id="container">

    <h1>{{.Title}}</h1>

    <ul>
        {{range .SearchResults}}
        <li><img src="{{.Thumb.Url}}"></li>
        {{end}}
    </ul>


    {{if .Error}}
    <h3>Error: {{.Error}}</h3>
    {{end}}

    <form action="/search">
        <label>Enter a search term:
            <input name="search_term">
        </label>
        <br>
        <br>

        <input type="submit" value="Search">

    </form>


</div>


</body>
</html>
