{{ define "content" }}
<div class="b-red">

    <h2 class="sub-header">Select Tiles</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            {{range .SearchResultRows}}
            <tr>
                {{range . }}
                <td>
                    <img src="{{.Thumb.Url}}">
                </td>
                {{end}}
            </tr>
            {{end}}

            </tbody>
        </table>


        <div>

            <h1>{{.Title}}</h1>

            <form action="/search">
                <label>Enter a search term:
                    <input name="search_term">
                </label>
                <br>
                <br>

                <input type="submit" value="Search">

            </form>


        </div>
    </div>
</div>

{{ end }}
