{{ define "content" }}
<div>

    <h2 class="sub-header">Select Tiles</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            {{range .SearchResultRows}}
            <tr>
                {{range . }}
                <td>
                    <img src="{{.}}" width="75px" >
                </td>
                {{end}}
            </tr>
            {{end}}

            </tbody>
        </table>


        <div>
            {{if gt (len .SearchResultRows) 0}}
            <form class="form-inline" action="/generate/{{.Project.ID}}">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" autofocus>Generate Mosaic</button>
                    <p class="help-block">or</p>
                </div>
            </form>

            {{end}}


            <form class="form-inline" action="/search/{{.Project.ID}}">
                <div class="form-group">
                    {{if lt (len .SearchResultRows) 1}}
                    <label for="search_term">Enter a Search Term:</label>
                    {{else}}
                    <label for="search_term">Change Search Term:</label>
                    {{end}}
                    <input class="form-control" id="search_term" name="search_term">
                </div>
                <button type="submit" class="btn btn-default" autofocus>Search</button>
            </form>



        </div>
    </div>
</div>

{{ end }}
