{{ define "content" }}
<div>

    <h2 class="sub-header">Select Tiles</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            {{range .SearchResultRows}}
            <tr>
                {{range . }}
                <td>
                    <img src="{{.Thumb.Url}}" width="75px" >
                </td>
                {{end}}
            </tr>
            {{end}}

            </tbody>
        </table>


        <div>
            <form class="form-inline" action="/search/{{.UploadID}}">
                <div class="form-group">
                    <label for="search_term">Enter a Search Term:</label>
                    <input class="form-control" id="search_term" name="search_term">
                </div>
                <button type="submit" class="btn btn-default" autofocus>Search</button>
            </form>
        </div>
    </div>
</div>

{{ end }}
