{{ define "content" }}
<div>
    <h1>{{.Title}}</h1>

    <h2 class="sub-header">Choose an image and a search term</h2>

    <div class="table-responsive">

        <div>
            <form class="form-inline" action="/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Filename:</label>
                    <input type="file" name="file" id="file">

                    <label for="search_term">Search Term (e.g. "sunset"):</label>
                    <input name="search_term" id="search_term">
                </div>
                <button type="submit" class="btn btn-default" autofocus>Submit</button>
            </form>

        </div>
    </div>

</div>
{{ end }}
